[INST]
Please continue to complete the function. You are not allowed to modify the given code and do the completion only. Please return all completed function in [PYTHON] and [/PYTHON] tags. Here is the given code to do completion:
[PYTHON]
{{completion_context}}
[/PYTHON]
[/INST]