[INST]
Update note:
There's an recent update to a function `{{old_function_signature}}` --- {{update_description}}. The function now has a new function signature --- `{{new_function_signature}}`.
Here's a detailed documentation about the update:
[DOC]
{{update_docstring}}
[/DOC]
[/INST]